torch
torchvision
Pillow

# 訓練曲線圖
matplotlib

# ONNX 匯出及推論
onnx
onnxruntime

# 匯出 TFLite
onnx2tf
tensorflow
tf_keras
onnx_graphsurgeon
psutil
sng4onnx

# 開啟瀏覽器介面（Gradio）
#gradio==4.28.3
gradio

# app.py
netifaces
